body {
  margin: 0;
}

.header {
  padding: 30px 0 25px;
  border-top: solid 3px #330099;
  border-bottom: solid 3px #330099;
}

.container {
  width: 82%;
  margin: auto;
}

.header__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.burger {
  display: none;
}

.menu-burger__item {
  display: none;
}

.header__menu-item {
  padding-right: 43px;
  text-decoration: none;
  color: #585858;
  font: 800 20px/25px Gilroy-ExtraBold, Arial, Helvetica, sans-serif;
}

.header__menu-item-call {
  font: 800 20px/25px Montserrat, Arial, Helvetica, sans-serif;
  padding: 13px 31px;
  border-radius: 50px;
  color: #fff;
  background: #330099;
  text-decoration: none;
  cursor: pointer;
}

.header__menu-item-call:hover {
  background: #FFDA45;
  color: #330099;
  transition: .3s;
}

.intro {
  background: url(images/bg\ intro.jpg) center/cover no-repeat;
  min-height: 480px;
  margin: 0 auto;
}

.intro__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.intro__title {
  font: 900 40px/49px Montserrat, Arial, Helvetica, sans-serif;
  color: #330099;
  margin: 151px 0 10px 0;
  max-width: 800px;
}

.intro__description {
  font: 700 30px/37px Montserrat, Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
  max-width: 340px;
}

.why-me {
  background: #F9F9F9;
  padding: 66px 0 90px 0;
}

.why-me__content {
  text-align: center;
  color: #585858;
  width: 85%;
}

.block-title {
  font: 900 30px/37px Montserrat, Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  color: #585858;
  text-align: center;
}

.why-me__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 75px;
}

.why-me__item {
  width: 30%;
  margin-right: 55px;
}

.why-me__item:last-child {
  margin-right: 10px;
}

.why-me__img {
  width: 85px;
  height: 85px;
}

.why-me__item-title {
  font: 900 30px/37px Montserrat, Arial, Helvetica, sans-serif;
  color: #585858;
  margin: 25px 5px 0 0;
}

.why-me__item-description {
  font: 500 20px/24px Montserrat, Arial, Helvetica, sans-serif;
}

.why-me__text1 {
  margin-top: 12px;
}

.why-me__text2 {
  margin-top: 28px;
}

.why-me__text3 {
  margin-top: 11px;
}

.why-me__btn {
  font: 800 20px/24px Montserrat, Arial, Helvetica, sans-serif;
  color: #FFDA45;
  padding: 20px 36px;
  background: #330099;
  border-radius: 50px;
  cursor: pointer;
  border: none;

}

.why-me__btn:hover {
  background: #FFDA45;
  color: #330099;
  transition: .3s;
}

.what-i-can {
  padding: 65px 0 0px 0;
  color: #585858;
}

.what-i-can__list {
  display: flex;
  flex-direction: column;
}

.what-i-can__item {
  display: flex;
  min-height: 200px;
}

.what-i-can__item:nth-child(1) {
  margin-bottom: 55px;
}

.what-i-can__item:nth-child(2) {
  align-self: flex-end;
  flex-direction: row-reverse;
  margin-bottom: 53px;
  text-align: right;
}

.what-i-can__item:nth-child(3) {
  margin-bottom: 35px;
}

.what-i-can__img1 {
  width: 175px;
  height: 175px;
  margin-right: 25px;
  background-image: url('images/what-i-can img 1.svg');
}

.what-i-can__img2 {
  width: 175px;
  height: 175px;
  margin-left: 25px;
  background-image: url('images/what-i-can img 2.svg');
}

.what-i-can__img3 {
  width: 175px;
  height: 175px;
  margin-right: 25px;
  background-image: url('images/what-i-can img 3.svg');
}

.what-i-can__text1 {
  padding-top: 0px;
  max-width: 567px;
}

.what-i-can__text2 {
  padding-top: 20px;
}

.what-i-can__text3 {
  padding-top: 10px;
}

.what-i-can__item-title {
  font: 600 30px/37px Montserrat, Arial, Helvetica, sans-serif;
  margin: 0 0 8px 0;
}

.what-i-can__item-description {
  font: 500 20px/24px Montserrat, Arial, Helvetica, sans-serif;
  margin: 0;
}

.what-i-can__slider {
  display: none;
}

.questions {
  background: #E7E0F3;
  padding-bottom: 60px;
}

.questions__title {
  padding: 60px 12px 0 0;
  margin-bottom: 36px;
}

.questions__content {
  background: url(images/qustions-img.svg) no-repeat top center/175px 175px;
  margin: 0 auto;
  max-width: 380px;
  text-align: center;
}

.questions__description {
  color: #585858;
  font: 600 20px/24px Montserrat, Arial, Helvetica, sans-serif;
  margin: 0 0 36px;
  padding-top: 224px;
}

.questions__form {
  margin-bottom: 35px;
}

.questions__form-item {
  background: #FBFBFB;
  border: solid 1px #E9E9E9;
  border-radius: 50px;
  color: #858585;
  display: block;
  width: 300px;
  height: 67px;
  margin: 0 auto 18px;
}

::placeholder {
  color: #858585;
  font: 600 15px/18px Montserrat, Arial, Helvetica, sans-serif;
  opacity: 1;
  padding: 0px 40px;
}

.questions__btn {
  background: #4AB272;
  border: none;
  border-radius: 50px;
  color: #fff;
  font: 900 20px/24px Montserrat, Arial, Helvetica, sans-serif;
  padding: 23px 90px;
  text-align: center;
  cursor: pointer;
}

.questions__btn:hover {
  background: #FFDA45;
  color: #4AB272;
  transition: .3s;
}

.footer {
  background: #330099;
  color: #fff;
  font: 400 20px/23px Roboto, Arial, Helvetica, sans-serif;
  text-align: center;
}

.footer__content {
  max-width: 380px;
  margin: 0 auto;
}

.footer__description {
  margin: 0;
  padding: 63px 0 20px;
}

.footer__social-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.footer__copyright {
  margin: 0;
  padding-bottom: 58px;
}

@media (max-width: 479px) {
  .container {
    width: 100%;
  }

  .header {
    padding: 13px 0 18px;
    border: none;
  }

  .header__menu {
    display: none;
  }

  .header__menu-item-call {
  font: 800 8px/10px Montserrat, Arial, Helvetica, sans-serif;
  padding: 5px 11px;
  border-radius: 50px;
  margin: 3px 73px 0 0;
  }

  .menu-burger__item {
    display: block;
    width: 25px;
    height: 3px;
    background: #330099;
    position: absolute;
    right: 30px;
    transition: .2s;
  }

  .menu-burger__item::before {
    position: absolute;
    display: blochk;
    content: "";
    width: 25px;
    height: 3px;
    background: #330099;
    bottom: 7px;
    transition: .2s;
  }

  .menu-burger__item::after {
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 3px;
    background: #330099;
    top: 7px;
    transition: .2s;
  }

  .burger:checked ~ .burger-btn {
    align-self: flex-start;
    margin-top: 13px; 
  }

  .burger:checked ~ .header__menu-item-call {
    display: none;
  }

  .burger:checked ~ .burger-btn .menu-burger__item {
    transform: rotate(45deg);
  }

  .burger:checked ~ .burger-btn .menu-burger__item::before {
    transform: rotate(90deg);
    top: 45%;
  }

  .burger:checked ~ .burger-btn .menu-burger__item::after {
    display: none;
  }

  .header__menu-item {
    padding: 0;
  }
  .burger:checked ~ .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 100px auto 0;
    height: 100vh;
    transition: .9s;
  }

  .header__menu a {
    margin: 0 0 24px 0;
    font: 800 20px/24px Montserrat, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
  }

  .intro {
    background-position-x: 13%;
    min-height: 230px;
  }

  .intro__content {
    width: 81%;
  }

  .intro__title {
    font: 900 20px/24px Montserrat, Arial, Helvetica, sans-serif;
    margin: 25px 0 0;
    width: 91%;
  }
  
  .intro__description {
    font: 700 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    width: 90%;
  }

  .why-me{
    padding: 47px 0 0px;
  }

  .why-me__content {
    width: 90%;
  }

  .block-title {
    font: 900 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    margin: 0 auto 35px;
    width: 90%;
  }

  .why-me__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
  }

  .why-me__item {
    width: 100%;
    margin-right: 0;
  }

  .why-me__item:last-child {
    margin-right: 0;
  }

  .why-me__img {
    width: 55px;
    height: 55px;
  }

  .why-me__item-title {
  font: 900 16px/20px Montserrat, Arial, Helvetica, sans-serif;
  color: #585858;
  margin-top: 0;
  }

  .why-me__item-description {
    font: 500 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 35px;
  }

  .why-me__text3 {
    width: 72%;
    margin: auto;
  }

  .why-me__btn {
    font: 800 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding: 16px 20px;
    margin-bottom: 43px;
    cursor: pointer;
  }

  .what-i-can {
    padding: 37px 0 0px 0;
  }

  .what-i-can__list {
    margin-bottom: 32px;
  }

  .what-i-can__text1 {
    width: 100%;
  }

  .what-i-can__item:nth-child(1) {
    flex-direction: column;
    text-align: center;
    margin: 0 auto 30px;
    width: 69%;
  }

  .what-i-can__item:nth-child(2), 
  .what-i-can__item:nth-child(3) {
    display: none;
  }

  .what-i-can__img1, .what-i-can__img2, .what-i-can__img3 {
    margin-right: 0;
    margin: auto;
  }

  .what-i-can__item-title {
    font: 600 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    width: 100%;
  }

  .what-i-can__item-description {
    font: 500 14px/17px Montserrat, Arial, Helvetica, sans-serif;
    margin: auto;
    width: 82%;
  }

  .what-i-can__slider {
    display: flex;
    justify-content: center;
  }

  .what-i-can__slide {
    width: 14px;
    height: 14px;
    background: #fff;
    border: solid 1px #E1E6E9;
    border-radius: 50px;
  }

  .what-i-can__slide:first-child {
    background: #FFDA45;
  }

  .what-i-can__slide:active {
    background: #FFDA45;
  }

  .what-i-can__slide1 {
    margin-right: 16px;
  }

  .what-i-can__slide2 {
    margin-right: 13px;
  }

  .questions {
    padding-bottom: 31px;
  }
    
  .questions__title {
    padding: 34px 0 0;
    margin-bottom: 20px;
  }

  .questions__content {
    max-width: 260px;
  }

  .questions__description {
    font: 600 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding-top: 203px;
    margin-bottom: 18px;
  }

  .questions__form {
    margin-bottom: 31px;
  }

  .questions__form-item {
    width: 260px;
    height: 47px;
    padding: 0;
    margin: 0 auto 11px;
  }

  ::placeholder {
    font: 600 10px/12px Montserrat, Arial, Helvetica, sans-serif;
    padding: 19px 0 19px 25px;
  }

  .questions__btn {
    font: 900 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding: 15px 82px;
    cursor: pointer;
  }

  .footer {
    font: 400 14px/16px Roboto, Arial, Helvetica, sans-serif;
  }

  .footer__description {
    padding: 30px 0 15px;
    max-width: 180px;
    margin: auto;
  }

  .footer__social-links {
    max-width: 260px;
    margin: auto;
    padding-bottom: 45px;
  }

  .footer__social-img img {
    width: 35px;
    height: 35px;
  }

  .footer__copyright {
    padding-bottom: 31px;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .header {
    padding: 13px 0 18px;
    border: none;
  }

  .header__menu {
    display: none;
  }

  .header__menu-item-call {
  font: 800 8px/10px Montserrat, Arial, Helvetica, sans-serif;
  padding: 5px 11px;
  border-radius: 50px;
  margin: 3px 73px 0 0;
  }

  .menu-burger__item {
    display: block;
    width: 25px;
    height: 3px;
    background: #330099;
    position: absolute;
    right: 30px;
    transition: .2s;
  }

  .menu-burger__item::before {
    position: absolute;
    display: blochk;
    content: "";
    width: 25px;
    height: 3px;
    background: #330099;
    bottom: 7px;
    transition: .2s;
  }

  .menu-burger__item::after {
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 3px;
    background: #330099;
    top: 7px;
    transition: .2s;
  }

  .burger:checked ~ .burger-btn {
    align-self: flex-start;
    margin-top: 13px; 
  }

  .burger:checked ~ .header__menu-item-call {
    display: none;
  }

  .burger:checked ~ .burger-btn .menu-burger__item {
    transform: rotate(45deg);
  }

  .burger:checked ~ .burger-btn .menu-burger__item::before {
    transform: rotate(90deg);
    top: 45%;
  }

  .burger:checked ~ .burger-btn .menu-burger__item::after {
    display: none;
  }

  .header__menu-item {
    padding: 0;
  }
  .burger:checked ~ .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 100px auto 0;
    height: 100vh;
    transition: .9s;
  }

  .header__menu a {
    margin: 0 0 24px 0;
    font: 800 20px/24px Montserrat, Arial, Helvetica, sans-serif;
    color: #000;
    text-align: center;
  }

  .intro {
    background-position-x: 13%;
    min-height: 230px;
  }

  .intro__content {
    width: 81%;
  }

  .intro__title {
    font: 900 20px/24px Montserrat, Arial, Helvetica, sans-serif;
    margin: 25px 0 0;
    width: 60%;
  }
  
  .intro__description {
    font: 700 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    width: 50%;
  }

  .why-me{
    padding: 47px 0 0px;
  }

  .why-me__content {
    width: 90%;
  }

  .block-title {
    font: 900 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    margin: 0 auto 35px;
    width: 90%;
  }

  .why-me__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 34px;
  }

  .why-me__item {
    width: 100%;
    margin-right: 0;
  }

  .why-me__item:last-child {
    margin-right: 0;
  }

  .why-me__img {
    width: 55px;
    height: 55px;
  }

  .why-me__item-title {
  font: 900 16px/20px Montserrat, Arial, Helvetica, sans-serif;
  color: #585858;
  margin-top: 0;
  }

  .why-me__item-description {
    font: 500 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    margin-top: 3px;
    margin-bottom: 35px;
    width: 72%;
    margin: 3px auto 35px;
  }

  .why-me__text3 {
    margin: auto;
  }

  .why-me__btn {
    font: 800 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding: 16px 20px;
    margin-bottom: 43px;
  }

  .what-i-can {
    padding: 37px 0 0px 0;
  }

  .what-i-can__list {
    margin-bottom: 32px;
  }

  .what-i-can__text1 {
    width: 100%;
  }

  .what-i-can__item:nth-child(1) {
    flex-direction: column;
    text-align: center;
    margin: 0 auto 30px;
    width: 69%;
  }

  .what-i-can__item:nth-child(2), 
  .what-i-can__item:nth-child(3) {
    display: none;
  }

  .what-i-can__img1, .what-i-can__img2, .what-i-can__img3 {
    margin-right: 0;
    margin: auto;
  }

  .what-i-can__item-title {
    font: 600 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    width: 100%;
  }

  .what-i-can__item-description {
    font: 500 14px/17px Montserrat, Arial, Helvetica, sans-serif;
    margin: auto;
    width: 82%;
  }

  .what-i-can__slider {
    display: flex;
    justify-content: center;
  }

  .what-i-can__slide {
    width: 14px;
    height: 14px;
    background: #fff;
    border: solid 1px #E1E6E9;
    border-radius: 50px;
  }

  .what-i-can__slide:first-child {
    background: #FFDA45;
  }

  .what-i-can__slide:active {
    background: #FFDA45;
  }

  .what-i-can__slide1 {
    margin-right: 16px;
  }

  .what-i-can__slide2 {
    margin-right: 13px;
  }

  .questions {
    padding-bottom: 31px;
  }
    
  .questions__title {
    padding: 34px 0 0;
    margin-bottom: 20px;
  }

  .questions__content {
    max-width: 260px;
  }

  .questions__description {
    font: 600 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding-top: 203px;
    margin-bottom: 18px;
  }

  .questions__form-item {
    width: 260px;
    height: 47px;
    padding: 0;
    margin: 0 auto 11px;
  }

  ::placeholder {
    font: 600 10px/12px Montserrat, Arial, Helvetica, sans-serif;
    padding: 19px 0 19px 25px;
  }

  .questions__btn {
    font: 900 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding: 15px 82px;
  }

  .footer {
    font: 400 14px/16px Roboto, Arial, Helvetica, sans-serif;
  }

  .footer__description {
    padding: 30px 0 15px;
    max-width: 180px;
    margin: auto;
  }

  .footer__social-links {
    max-width: 260px;
    margin: auto;
    padding-bottom: 45px;
  }

  .footer__social-img img {
    width: 35px;
    height: 35px;
  }

  .footer__copyright {
    padding-bottom: 31px;
  }
}

@media (min-width: 801px) and (max-width: 960px) {  
  .intro__title {
    width: 70%;
  }
  
  .intro__description {
    width: 50%;
  }

  .block-title {
    font: 900 30px/37px Montserrat, Arial, Helvetica, sans-serif;
  }

  .why-me {
    padding-bottom: 0;
  }

  .why-me__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  .why-me__item {
    width: 50%;
    margin-right: 0;
  }

  .why-me__item:last-child {
    margin-right: 0;
  }

  .why-me__item-title {
  font: 900 24px/30px Montserrat, Arial, Helvetica, sans-serif;
  margin-top: 0;
  }

  .why-me__item-description {
    font: 500 20px/24px Montserrat, Arial, Helvetica, sans-serif;
    margin: 10px auto 35px;
  }

  .why-me__btn {
    font: 800 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding: 16px 20px;
    margin-bottom: 43px;
  }
  
  .what-i-can {
    padding: 20px 0 0 0;
  }

  .what-i-can__text1 {
    width: 70%;
  }

  .what-i-can__item-title {
    font: 600 24px/30px Montserrat, Arial, Helvetica, sans-serif;
  }
  
  .what-i-can__item-description {
    font: 500 20px/24px Montserrat, Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .what-i-can__slider {
    display: none;
  }

  .questions {
    padding-bottom: 31px;
  }
    
  .questions__title {
    padding: 34px 0 0;
    margin-bottom: 20px;
  }

  .questions__content {
    max-width: 260px;
  }

  .questions__description {
    font: 600 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding-top: 203px;
    margin-bottom: 18px;
  }

  .questions__form-item {
    width: 260px;
    height: 47px;
    padding: 0;
    margin: 0 auto 11px;
  }

  ::placeholder {
    font: 600 10px/12px Montserrat, Arial, Helvetica, sans-serif;
    padding: 19px 0 19px 25px;
  }

  .questions__btn {
    font: 900 16px/20px Montserrat, Arial, Helvetica, sans-serif;
    padding: 15px 82px;
  }

  .footer {
    font: 400 14px/16px Roboto, Arial, Helvetica, sans-serif;
  }

  .footer__description {
    padding: 30px 0 15px;
    max-width: 180px;
    margin: auto;
  }

  .footer__social-links {
    max-width: 260px;
    margin: auto;
    padding-bottom: 45px;
  }

  .footer__social-img img {
    width: 35px;
    height: 35px;
  }

  .footer__copyright {
    padding-bottom: 31px;
  }
}
